.Editor {
    background-color: #fff;
}            
.Editor {
    background-color: #fff;
}            
.Editor {
    background-color: #fff;
}            
.Editor h1 {
    background-color: #b4b4b4;
}            
.Editor h2 {
    background-color: #353535;
}            
      